[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "static/tarot"]
	path = static/tarot
	url = https://github.com/garnajee/compteur-points-tarot-africain.git
	branch = gh-pages
