[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "static/tarot"]
	path = static/tarot
	url = git@github.com:garnajee/compteur-points-tarot-africain.git
	branch = gh-pages
[submodule "static/cookie-converter"]
	path = static/cookie-converter
	url = git@github.com:garnajee/cookie-converter.git
	branch = build
[submodule "static/formacheck"]
	path = static/formacheck
	url = git@github.com:garnajee/formacheck.git
	branch = build
[submodule "static/metafilix"]
	path = static/metafilix
	url = git@github.com:garnajee/metafiliX.git
	branch = build
[submodule "static/mahjong"]
	path = static/mahjong
	url = git@github.com:garnajee/mahjong.git
	branch = build
