.notice {
    --root-color: #1f1f1f;
    --title-color: #1e1e1e;
    --warning-title: #c33;
    --warning-content: #fee;
    --info-title: #fb7;
    --info-content: #fec;
    --note-title: #6be;
    --note-content: #e7f2fa;
    --tip-title: #5a5;
    --tip-content: #efe
}

.notice {
    padding: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    border-radius: 4px;
    color: var(--root-color);
    background: var(--root-background)
}

.notice p:last-child {
    margin-bottom: 0px;
}

.notice-title {
    margin: -18px -18px 12px;
    padding: 4px 18px;
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    color: var(--title-color);
    background: var(--title-background)
}

.notice.warning .notice-title {
    background: var(--warning-title)
}

.notice.warning {
    background: var(--warning-content)
}

.notice.info .notice-title {
    background: var(--info-title)
}

.notice.info {
    background: var(--info-content)
}

.notice.note .notice-title {
    background: var(--note-title)
}

.notice.note {
    background: var(--note-content)
}

.notice.tip .notice-title {
    background: var(--tip-title)
}

.notice.tip {
    background: var(--tip-content)
}

.icon-notice {
    display: inline-flex;
    align-self: center;
    margin-right: 8px
}

.icon-notice img,
.icon-notice svg {
    height: 1em;
    width: 1em;
    fill: currentColor
}

.icon-notice img,
.icon-notice.baseline svg {
    top: .125em;
    position: relative
}

/* for code blocks and links*/
.notice code,
.notice a {
  color: #f8f8f2; /* text color */
  background-color: #272822; /* background text color */
  padding: 4px; /* for lisibility */
  border-radius: 4px; /* rounded border */
  font-family: 'Courier New', 'monospace'; /* code font */
  font-size: 18px;
}

.post-content a code {
  box-shadow: none;
}

.notice a {
  text-decoration: underline; /* underline for links */
  text-underline-offset: 0.25em;
}

.post-content blockquote {
  margin-bottom: 0px;
}

.notice.warning blockquote {
  border-left: 4px solid #c33;
}
.notice.info blockquote {
  border-left: 4px solid #fb7;
}
.notice.note blockquote {
  border-left: 4px solid #6be;
}
.notice.tip blockquote {
  border-left: 4px solid #5a5;
}

