/*
 * notice: note, tip, important, warning, caution
 */

.notice {
    --root-color: #1f1f1f;
    --title-color: #1e1e1e;
    /* --note-title: #6be; */
    /* --note-content: #e7f2fa; */
    /* --tip-title: #5a5; */
    /* --tip-content: #efe; */
    /* --important-title: #5a5; */
    /* --important-content: #efe; */
    /* --warning-title: #fb7; */
    /* --warning-content: #fec; */
    /* --caution-title: #c33; */
    /* --caution-content: #fee; */
    --note-title: #4493f8;
    --note-content: #e7f2fa; /**/
    --tip-title: #3fb950;
    --tip-content: #efe; /**/
    --important-title: #a371f7;
    --important-content: #f1e9fe;
    --warning-title: #d29922;
    --warning-content: #fec;
    /*--caution-title: #f85149;*/
    --caution-title: #da3633;
    --caution-content: #fee;

}

.notice {
    padding: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    border-radius: 4px;
    color: var(--root-color);
    background: var(--root-background)
}

.notice p:last-child {
    margin-bottom: 0px;
}

.notice-title {
    margin: -18px -18px 12px;
    padding: 4px 18px;
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    color: var(--title-color);
    background: var(--title-background)
}

.notice.note .notice-title {
    background: var(--note-title)
}

.notice.note {
    background: var(--note-content)
}

.notice.tip .notice-title {
    background: var(--tip-title)
}

.notice.tip {
    background: var(--tip-content)
}

.notice.important .notice-title {
    background: var(--important-title)
}

.notice.important {
    background: var(--important-content)
}

.notice.warning .notice-title {
    background: var(--warning-title)
}

.notice.warning {
    background: var(--warning-content)
}

.notice.caution .notice-title {
    background: var(--caution-title)
}

.notice.caution {
    background: var(--caution-content)
}

.icon-notice {
    display: inline-flex;
    align-self: center;
    margin-right: 8px
}

.icon-notice img,
.icon-notice svg {
    height: 1em;
    width: 1em;
    fill: currentColor
}

.icon-notice img,
.icon-notice.baseline svg {
    top: .125em;
    position: relative
}

/* for code blocks and links*/
.notice code,
.notice a {
  color: #f8f8f2; /* text color */
  background-color: #272822; /* background text color */
  padding: 4px; /* for lisibility */
  border-radius: 4px; /* rounded border */
  font-family: 'Courier New', 'monospace'; /* code font */
  font-size: 18px;
}

.post-content a code {
  box-shadow: none;
}

.notice a {
  text-decoration: underline; /* underline for links */
  text-underline-offset: 0.25em;
}

.post-content blockquote {
  margin-bottom: 0px;
}

.notice.note blockquote {
  border-left: 4px solid var(--note-title);
}
.notice.tip blockquote {
  border-left: 4px solid var(--tip-title);
}
.notice.important blockquote {
  border-left: 4px solid var(--important-title);
}
.notice.warning blockquote {
  border-left: 4px solid var(--warning-title);
}
.notice.caution blockquote {
  border-left: 4px solid var(--caution-title);
}

